
@import url('https://fonts.googleapis.com/css?family=Montserrat');


*{
    background-color: #FFD500;
    font-family: Montserrat, monospace, sans-serif;
}

.logo{
    position:static;
    left:0;
    top:0;
}

.welcome{
    display: block;
    color: black;
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
}

.startbutton{
    border: 2px solid white;
    border-radius: 3px;
    font-weight: 500;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 45%;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 45px;
    text-align: center;

}

a:link{
    color: white;
}
a:hover{
    color:black;
}
a:visited{
    color: white;
}


.footertag{
    color: #4a4b41;
    display: block;
    line-height: 1px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    padding-left: 590px;
    text-align: center;
}
